<body>
    <section>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/images/imgInicio/banner1.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: left;">
                  <h3 class="display-3 w100"><span class="w900">DIT COMPANY</span></h3><br>
                  <p>¿Quieres mantener el motor de tu vehículo como nuevo?</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/imgInicio/banner2.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">DIT COMPANY</span></h3><br>
                  <p>Tenemos el mejor lubricante para cualquier tipo de vehículo</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/imgInicio/bg-mobil.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: center;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">DIT COMPANY</span></h3><br>
                  <p>Protección específica para cada tipo de motor</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/imgInicio/banner3.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: left;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">DIT COMPANY</span></h3><br>
                  <p>ALTO nivel de desempeño y protección</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/imgInicio/banner4.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">DIT COMPANY</span></h3><br>
                  <p>LUBRICANTES: para el motor y la transmisión</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/imgInicio/banner6-1.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: left;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">DIT COMPANY</span></h3><br>
                  <p>Confianza absoluta para tu motor</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/images/imgInicio/banner5-1.jpg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">DIT COMPANY</span></h3><br>
                  <p>Mantén protegido tu motor en todo camino</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
</body>
