<body>
    <section>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/imagenes/movil1.jpeg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w900">YO LEO CON LORENZO</span></h3><br>
                  <p> Explora el mundo de la lectura con Lorenzo</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/imagenes/movil2.jpeg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">YO LEO CON LORENZO</span></h3><br>
                  <p>Aprende a través de juegos</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/imagenes/movil1.jpeg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">YO LEO CON LORENZO</span></h3><br>
                  <p>Mejora tus habilidades de lectura</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets/imagenes/movil2.jpeg" class="d-block">
                <div class="carousel-caption d-none d-md-block" style="text-align: right;">
                  <h3 class="display-3 w100"><span class="w400 text-secondary">YO LEO CON LORENZO</span></h3><br>
                  <p>Aprende a leer con Lorenzo</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
</body>
