<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:  #ffffff">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/imagenes/leoleo.jpeg" alt="Logo" width="210" height="75">
      </a>
  
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
         
        </ul>
        <div class="navbar-text-container">
          <h2 class="navbar-text"> <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"><i class="fa-solid fa-user-tie"></i>
            {{this.usuarioLogueado.jugador.usuarios.usu_nombre}}</h2>
        </div>
  
        <hr />
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="ventana-jugador.component.css"> <!-- Enlaza tu hoja de estilos personalizada -->
  <title>Dashboard</title>
  <form class="d-flex" role="search">
    <button class="btn-custom-green" (click)="redirectToInicio()" type="submit"><i class="fa-solid fa-house"></i>Home</button>
    <button class="btn-custom-green" (click)="redirectToProgreso()" type="submit"><i class="fa-solid fa-graduation-cap"></i>Ver Progreso</button>
    <button class="btn-custom-green" (click)="cerrarSesion()" type="submit"><i class="fa-solid fa-right-from-bracket"></i>Cerrar Sesión</button>
  </form>
      </div>
    </div>
   
  </nav>


  
<body> 
    <router-outlet ></router-outlet>
</body>
   
    

<app-footer></app-footer>