<body>
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div class="profile-header-img">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info">
                                <h4 class="m-t-10 m-b-5">Usuario Jugador</h4>
                                <p class="nimono">Yo leo con Lorenzo</p>
                                <div class="desplegable">
    
    
    
                                </div>
    
    
    
    
                                <ul class="profile-header-tab nav nav-tabs">
                                    <li class="nav-item"><a href="ventanaj/scroll" target="__blank" class="nav-link_"><i class="fa-solid fa-house"></i>INICIO
                                    </a></li>
                                    <li class="nav-item"><a href="" target="__blank" class="nav-link_"><i class="fa-solid fa-user"></i>MI PERFIL</a>
                                    </li>
                                    <li class="nav-item"><a href="ventanaj/progress" target="__blank" class="nav-link_" style="text-decoration: aqua;"><i class="fa-solid fa-graduation-cap"></i>VER PROGRESO
                                        </a></li>
                                    <li class="nav-item"><a href="" target="__blank" class="nav-link_"><i class="fa-solid fa-right-from-bracket"></i>CERRAR SESION</a>
                                    </li>
    
    
    
                                </ul>
                                <!-- END profile-header-tab -->
                            </div>
                        </div>
                        <!-- end profile -->
                        <!-- begin profile-content -->
                        
    
                    </div>
                </div>
            </div>
        </div>
       
    </div>
   
    
    <router-outlet ></router-outlet>
</body>

<app-footer></app-footer>