<body>
    <div class="container">
        <div class="header">
            <h2>Iniciar Sesión</h2>
            <div class="profile-image"></div>
        </div>
        <form id="form" class="form">
            <div class="form-control">
                <label for="username">Usuario</label>
                <input type="text" [ngModel]="usuarios.usu_correo" placeholder="Ingrese el usuario" id="usu_correo" />
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Usuario obligatorio
                </div>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small class="error-message">Error message</small>
            </div>

            <div class="form-control">
                <label for="password">Contraseña</label>
                <input type="password" [ngModel]="usuarios.usu_contra" placeholder="Ingrese la contraseña" id="usu_contra" />
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Contraseña obligatoria.
                </div>
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation-circle"></i>
                <small class="error-message">Error message</small>
            </div>

            <div>
                <button type="submit" routerLink="/perfil-admin" routerLinkActive="activate">Iniciar sesión</button>
                <script src="login.js"></script>
                <button type="submit" routerLink="/home" routerLinkActive="active">Regresar</button>
            </div>
        </form>
    </div>
</body>



