.botonn {
  color: rgb(155, 98, 230); 
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  outline: none;
}

.botonn:hover {
  color: rgb(151, 240, 136); 
  background-color: rgb(229, 117, 102);
}

.welcome-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.welcome-space {
  width: 190px; 
}

.welcome-inter {
  height: 50px; 
}

.welcome-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.container {
  text-align: left;
}





.btn-custom-green {
  background-color: #ffffff; /* Cambiar el color de fondo */
  border: none; /* Eliminar el borde */
  color: rgb(155, 98, 230); /* Color de la letra en el botón */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  outline: none;
  padding: 10px 20px; /* Agregar padding para dar espacio al contenido del botón */
  font-size: 16px; /* Tamaño de la letra */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
}

/* Cambiar el color de la letra cuando el mouse se acerque (hover) */
.btn-custom-green:hover {
  background-color: rgb(78, 21, 119); /* Cambiar el color de fondo a más oscuro */
  color: rgb(195, 225, 172);
}




.message {
  padding: 1rem;
}

.message h2 {
  font-size: 3.9rem;
  padding: 1rem 0;
  color: rgb(78, 21, 119);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.message p{
  font-size: 1.25em;
  margin-top: 1rem 0;
  color: rgb(131, 82, 165);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
} 

.message a{
  font-size: 1.25em;
  margin-top: 1rem 0;
  color: rgb(131, 82, 165);
  font-weight: 500;
} 


.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
}

.message button:hover {
  background-color: #6464f8;
}

.message h2 {
  font-size: 3.5rem;
  padding: 1rem 0;
  color: rgb(78, 21, 119);
  font-family: 'Poppins', sans-serif;
  font-weight: 501;
  text-align: center;
}


p{
  font-size: 1.0em;
  margin-top: 1rem 0;
  color: rgb(33, 4, 55);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
} 


h3 {
  font-size: 2.0rem;
  padding: 1rem 0;
  color: rgb(78, 21, 119);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-align: center;
}

.welcome-inter {
  height: 5px; 
}

.welcome-inte {
  height: 15px; 
}


@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
  font-family: "Roboto", sans-serif;
  background:rgba(152, 128, 186, 0.19); 

}
.all{
  display: flex;
}
.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 100px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  background: #d9d7da;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3,
.circle-wrap .circle .fill-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #212020;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ec0c0c;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(153deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(153deg);
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: yellow;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(117deg);
}

@keyframes fill-2{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(117deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #23b9ea;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(135deg);
}


@keyframes fill-3{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
/* 4rd progress bar */
/* Resto del CSS permanece sin cambios */

/* 4th progress bar */
.mask .fill-4 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ff9800;
  }
  
  .mask.full-4,
  .circle .fill-4 {
    animation: fill-4 ease-in-out 3s;
    transform: rotate(36deg); /* Ajusta el ángulo de inicio */
  }
  
  @keyframes fill-4 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(36deg); /* Ajusta el ángulo de finalización */
    }
  }

/* Enlace a tus estilos CSS personalizados o asegúrate de que este CSS esté enlazado correctamente en tu HTML */

/* Estilos para los títulos h2 */
h2 {
    color: rgb(78, 21, 119); /* Cambia el color del texto a blanco */
    /* Agrega otros estilos si es necesario, como tamaño de fuente, espaciado, etc. */
    font-family: 'Poppins', sans-serif;
  }
  
/*Estilo del progreso general */
.circle-wrap5 {
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 100px;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    background: #d9d7da;
    border-radius: 50%;
  }
  
  .circle-wrap5 .circle5 .mask,
  .circle-wrap5 .circle5 .fill-5 {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap5 .circle5 .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap5 .inside-circle5 {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background: #212020;
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: white;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  /* color animation */
  
  .mask .fill-5 {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #ec0c0c;
  }
  
  .mask.full-5,
  .circle5 .fill-5 {
    animation: fill-1 ease-in-out 3s;
    transform: rotate(153deg);
  }
  
  @keyframes fill-5 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(153deg);
    }
  }

  .progress {
    height: 70px;
    width: 380%;
    border: 1px solidr rgb(195, 225, 172);
    border-radius: 5px;
    background-color: rgb(208, 174, 232);
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: rgb(195, 225, 172); 
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-size: 1.5em; /* Cambia el tamaño de la fuente a 1.5 veces el tamaño original */
  color: rgba(0, 0, 0, 0.644);
}



/* Estilos para los encabezados de la tabla */
.custom-table thead th {
  background-color: rgb(78, 21, 119);
  color: rgb(195, 225, 172);
}

/* Estilos para las celdas del cuerpo de la tabla */
.custom-table tbody td {
  background-color: white;
}

/* Estilos para resaltar las filas al pasar el mouse sobre ellas */
.custom-table tbody tr:hover {
  background-color: #cfe2ff;
}