<body>
  
  

  <!-- Progreso general -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 justify-content-center">
        <h2 class="text-center">Aprendizaje con Logica</h2>
        <div class="progress">
          <div class="progress-bar" [style.width]="getProgresoPorTipoAprendizaje1(1) + '%'">
            <span class="progress-bar-text">{{getProgresoPorTipoAprendizaje1(1)}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 justify-content-center">
        <h2 class="text-center">Aprendizaje con Juegos</h2>
        <div class="progress">
          <div class="progress-bar" [style.width]="getProgresoPorTipoAprendizaje1(2) + '%'">
            <span class="progress-bar-text">{{getProgresoPorTipoAprendizaje1(2)}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 justify-content-center">
        <h2 class="text-center">Aprendizaje con Comprension</h2>
        <div class="progress">
          <div class="progress-bar" [style.width]="getProgresoPorTipoAprendizaje1(3) + '%'">
            <span class="progress-bar-text">{{getProgresoPorTipoAprendizaje1(3)}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 justify-content-center">
        <h2 class="text-center">PROGRESO GENERAL</h2>
        <div class="progress">
          <div class="progress-bar" [style.width]="usuarioLogueado.jugador.progreso.prog_puntaje_total + '%'">
            <span class="progress-bar-text">{{usuarioLogueado.jugador.progreso.prog_puntaje_total}}%</span>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="inside-circle5"></div>
  <div class="card">
    <!--CARD PARA MOSTRAR INFORMACION SOBRE EL JUEGO -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover custom-table">
        <thead>
          <tr>
            <th>Fecha de inicio</th>
            <th>Fecha Actual</th>
            <th>Jugador Nombre</th>
            <th>Puntaje General</th>
            <!-- Agrega más encabezados si tienes más datos para mostrar en la tabla -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{usuarioLogueado.jugador.usuarios.usu_fecha_inic}}</td>
            <td>{{usuarioLogueado.jugador.progreso.prog_fecha_act}}</td>
            <td>{{usuarioLogueado.jugador.player_nombre}}</td>
            <td>{{usuarioLogueado.jugador.progreso.prog_puntaje_total}}% de 100%</td>
            
            <!-- Agrega más celdas con los datos correspondientes -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="inspiration">
    <a rel="noopener" target="_blank"
      href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3794/heartland.jpg">Inspiration</a>
  </div>






</body>