<h1 style="color: rgb(78, 21, 119);">USUARIOS ADMINISTRADORES</h1>
<div class="col-md-12 p-2">
  <table class="table mt-2 table-bordered">
    <thead class="table-primary">
      <tr>
        <th>CÓDIGO</th>
        <th>NOMBRE</th>
        <th>CORREO</th>
        <th>ROL</th>
        <th>ESTADO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of admin">
        <td>{{item.id_usuario}}</td>                         
        <td>{{item.usu_nombre}}</td>
        <td>{{item.correo}}</td>
        <td>Administrador</td>        
        <th>Activo</th>
      </tr>
    </tbody>    
  </table>
</div>

<hr />

<h1 style="color: rgb(78, 21, 119);">USUARIOS JUGADOR</h1>
<div class="col-md-12 p-2">
  <table class="table mt-2 table-bordered">
    <thead class="table-primary">
      <tr>
        <th>CÓDIGO</th>
        <th>NOMBRE</th>
        <th>CORREO</th>
        <th>ROL</th>
        <th>ESTADO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item2 of jugador">
        <td>{{item2.id_usuario}}</td>                         
        <td>{{item2.usu_nombre}}</td>
        <td>{{item2.correo}}</td>
        <td>Jugador</td>        
        <th>Activo</th>
      </tr>
    </tbody>    
  </table>
</div>

