<p><h1 style="color: rgb(78, 21, 119);">Administrar Usuarios</h1>
    <div class="col-md-12 p-2">

      
        
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" [(ngModel)]="buscarCodigo" placeholder="CODIGO" (keyup)="buscarUsuarioPorCodigo()">
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" [(ngModel)]="buscarTexto" placeholder="Buscar usuarios" (keyup)="buscarUsuarios()">
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa fa-save"></i> Nuevo Usuario
          </button>
        </div>
      </div>
      
      
      

      <table class="table mt-2 table-bordered">
        <thead class="table-primary">
          <tr>

            <th>CODIGO</th>
            <th>NOMBRE</th>
           
            <th>CORREO</th>
            <th>NIVEL ACADEMICO</th>

            <th>Código</th>
            <th>Nombre</th>
            <th>Contraseña</th>
            <th>Correo</th>
            <th>Nivel Académico</th>

            <th>Rol</th>
            

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios">
            <td>{{item.id_usuario}}</td>
            <td>{{item.usu_nombre}}</td>
           

            <td>no visible</td>

            <td>{{item.correo}}</td>
            <td>{{item.usu_nivelacademico}}</td>
            <td>{{item.roles.rol_nombre }}</td>

            <td>
              <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectItem(item)">
                <i class="fa fa-pencil"></i>
              </button>
              &nbsp;
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="eliminarUsuario(item.id_usuario)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </div>


 
    <!-- TODO: Modals -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 *ngIf="!isupdate" class="modal-title fs-5">Crear Usuario</h1>
            <h1 *ngIf="isupdate" class="modal-title fs-5">Editar Usuario</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="newUsuario()"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="formUsuarios">
                  
                  <div class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Nombre</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" formControlName="usu_nombre" pattern="^[^0-9]*$"  placeholder="Ingrese Nombre" 
                        title="El nombre no puede tener números" required>
                        
                       
                      </div>
                  </div>



                  <div class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Contraseña</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" formControlName="usu_contra" name="clave" 
                        title="La contraseña debe contener un dígito, letras mayusculas, minusculas y una extencion de 8 caracteres" 
                        pattern="[A-Za-z0-9!?-]{8}"  required placeholder="Ingrese Contraseña">
                      </div>
                  </div>
                  <div class="mb-3 row">
                      <label class="col-sm-2 col-form-label">Correo</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" formControlName="correo" name="correo"required 
                        placeholder="Ingrese correo electrónico" 
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" title="ingresar un correo valido ejemplo: 'ejemplo@gmail.com'">
                      </div>
                  </div>

 
                 <div class="mb-3 row">
  <label class="col-sm-2 col-form-label">Nivel Académico</label>
  <div class="col-sm-10">
    <select class="form-control" formControlName="usu_nivelacademico"  required>
      <option value="" selected disabled>Seleccione un nivel académico</option>
      <option *ngFor="let nivel of nivelesAcademicos" [value]="nivel">{{ nivel }}</option>
    </select>
  </div>
</div>


                <div class="form-group">
                    <label class="col-sm-2 col-form-label">Rol</label>
                    <div class="col-sm-10">
                        <select   class="form-control" formControlName="id_rol" >
                            <option value="" selected disabled>Seleccione un rol</option>
                            <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.rol_nombre }}</option>
                          </select>
                      </div>
                   
                  </div>




                </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
            <button *ngIf="!isupdate" type="button" class="btn btn-success btn-sm"(click)="savee()">Save</button>
            <button *ngIf="isupdate" type="button" class="btn btn-warning btn-sm" (click)="update()">Update</button>

            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"> Close</button>
            <button *ngIf="!isupdate" type="button" class="btn btn-success btn-sm"(click)="savee()">Save</button>
            <button *ngIf="isupdate" type="button" class="btn btn-warning btn-sm" (click)="updateee()">Update</button>

          </div>
        </div>
      </div>
    </div>
