<div>
  <body style="background-image: url(assets/imagenes/header.jpg); 
background-repeat: no-repeat;">
    <div class="container-form sign-up" style="backdrop-filter: blur(8px);">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido a Yo aprendo con Leo</h2>
                <p>Si ya tienes una cuenta por favor inicia sesión aquí</p>
                <button class="sign-up-btn"routerLink="/login" >Iniciar Sesion</button>
                <p></p>
                <button class="sign-up-btn"routerLink="/nosotros" >Sobre Nosotros</button>
            </div>
        </div>
    </div>
</body>
</div>