<div>
  <app-header> </app-header>
<div id="banner">
    <div class="container">
      <div class="row">
        <div class="col-6 col-12-medium">

          <!-- Banner Copy -->
            <p>We do something really useful, important, and unique. Learn all about it here ...</p>
            <li routerLinkActive="active" class="button-large">
              <a routerLink="/login" class="button-large">ACCEDER</a>
            </li>
            

        </div>
        <div class="col-6 col-12-medium imp-medium">

          <!-- Banner Image -->
            <a href="#" class="bordered-feature-image"><img src="assets/imagenes/logo de la app.jpg" alt="" /></a>

        </div>
      </div>
    </div>
  </div> m  
<app-footer></app-footer>

</div>
