
<h1 style="color: rgb(78, 21, 119);">ADMINISTRAR ACTIVIDADES</h1>
<div class="col-md-12 p-2">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control" [(ngModel)]="buscarCodigo" placeholder="CODIGO" (keyup)="buscarUsuarioPorCodigo()">
        </div>
        <div class="col-md-8">
          <input type="text" class="form-control" [(ngModel)]="buscarTexto" placeholder="Buscar actividad" (keyup)="buscarActividad()">
        </div>
      </div>
    </div>
  
  </div>




  <table class="table mt-2 table-bordered" style="margin: rigth 0; ">
    <thead class="table-primary">
      <tr>
        <th>CÓDIGO</th>
        <th>ACTIVIDAD</th>
        <th>DESCRIPCIÓN</th>
        <th>DIFICULTAD</th>
        <th>PUNTAJE MAX</th>
        <th>PUNTAJE MIN</th>
        <th>PUNTAJE ALCANZADO</th>
        <th>ESTADO</th>
        <th>TIPO DE APRENDIZAJE</th>
        <th>RECURSOS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of actividades">
        <td>{{item.id_activ}}</td>                         
        <td>{{item.act_nombre}}</td>
        <td>{{item.act_descripcion}}</td>
        <td>{{item.act_dificultad}}</td>
        <td>{{item.act_puntaje_max}}</td>
        <td>{{item.act_puntaje_min}}</td>
        <td>{{item.act_puntaje_alcanzado}}</td>
        <td>{{item.act_estado}}</td>
        <td>{{item.aprendizaje?.tapr_nombre}}</td>
       
        
        <td>
         
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- TODO: Modals -->

